.work-panel {
    .MixPanel();
    background: @clrBG2;
    color: @clrFG2_1;
    .title-area {
        .MixPanelTitle();
        h2 {
            color : @clrFG2;
        }
        p {

        }
    }

    .body-area {
        .MixPanelBody();
    }
}

