.about-panel {
    .MixPanel();
    background: @clrBG0;
    color: @clrTxt0;
    text-align : left;
    .title-area {
        .MixPanelTitle();
        h2 {
            color : @clrFG0;
        }
        p {
        }
    }

    .body-area {
        .MixPanelBody();
        .text-area {
            display: inline-block;
            width: 60%;
            float: left;
            padding: 0px 0px 0px 20px;
            @media @smallQuery , @mediumQuery {
                display: block;
                float: none;
                width: 100%;
            }
            h3 {
                font-size : 26px;
                line-height : 172%;
            }
            h4{
                padding: 0px 0px 19px 0px;
            }
            p{
                font-size : 16px;
                line-height : 150%;
                padding : 0px 0px 10px 3px;
                a{
                    .MixLink();
                    color : @orange;//@clrFG0;
                    font-weight : 600;
                }
            }
            .more-info-toggle{
                padding-left : 3px;
                font-size : 16px;
                line-height : 150%;
                font-weight : 600;
                a{
                    .MixLink();
                    color : @orange;//@clrFG0;
                    font-size : 16px;
                    line-height : 150%;
                    i{
                        padding-right : 10px;
                        &.active, &:hover, &:focus {
                            text-decoration: none;
                            outline: none;
                        }
                    }
                }
            }
            .more-info{
                overflow : hidden;
                height : 0px;
            }
            button {
                transition: 0.3s;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                background-color: @clrBGbtn0;
                color : @offWhite;
                padding: 16px 22px;
                display: inline-block;
                outline: none;
                margin : 15px 0px;
                &.active, &:hover, &:focus {
                    background: @clrBGbtn0hover;
                    text-decoration: none;
                    outline: none;
                }
            }
        }
        .img-box {
            position : absolute;
            display: block;
            width: 294px;
            right : 0px;
            top : 0px;
            bottom : 0px;
            height : 294px;
            margin : 5% 75px auto 0px;
            @media @smallQuery , @mediumQuery {
                position : relative;
                padding: 20px 0px 0px 0px;
                width: 100%;
                margin : 0px;
            }
            .img-circle {
                border-radius: 50%;
                border: @imageStroke;
            }
        }
    }
}

