<section id="about" class="about-panel" ng-show="aboutInfo">
    <div class="title-area">
        <h2 ng-bind="aboutInfo.title"></h2>

        <p ng-bind="aboutInfo.subTitle"></p>
    </div>
    <div class="body-area">
        <div class="text-area">
            <h3 ng-bind="aboutInfo.myName"></h3>
            <h4 ng-bind="aboutInfo.myRole"></h4>
            <hr ng-repeat-start="blurb in aboutInfo.htmlBlurbs" ng-if="false">
            <p ng-bind-html="blurb | makeSafeHTML"></p>
            <hr ng-repeat-end ng-if="false">
            <div class="more-info-toggle" ng-if="aboutInfo.moreInfo">
                <a href="javascript:;" ng-if="!isMoreInfoDisplayed" ng-click="toggleMoreInfo()"><i class="glyphicon glyphicon-eye-open"></i>{{aboutInfo.moreInfo.labelSeeMore}}</a>
                <a href="javascript:;" ng-if="isMoreInfoDisplayed" ng-click="toggleMoreInfo()"><i class="glyphicon glyphicon-eye-close"></i>{{aboutInfo.moreInfo.labelSeeLess}}</a>
            </div>
            <div class="more-info" ng-if="aboutInfo.moreInfo">
                <hr ng-repeat-start="blurb in aboutInfo.moreInfo.htmlBlurbs" ng-if="false">
                <p ng-bind-html="blurb | makeSafeHTML"></p>
                <hr ng-repeat-end ng-if="false">
            </div>
            <button class="btn" ng-bind="aboutInfo.btnLabel" ng-click="buttonClicked($event)"></button>
        </div>
        <div class="img-box">
            <img class="img-circle" ng-src="{{aboutInfo.myImgURL}}" alt="{{aboutInfo.myName}}">
        </div>
    </div>
</section>
