.title-panel {
    position: absolute;
    padding: 25px;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-width: 867px;
    max-height: 295px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    @media @mediumQuery {
        padding: 23px;
        max-width: 710px;
    }
    @media @smallQuery {
        border: none;
        background: transparent;
        max-height: 53%;
    }
    h1 {
        line-height: 127px;
        padding: 0px;
        @media @mediumQuery {
            font-size: 65px;
            line-height: 122px;
        }
        @media @smallQuery {
            font-size: 47px;
            line-height: 58px;
            padding-bottom: 20px;
        }
    }
    h2 {
        line-height: 51px;
        @media @mediumQuery {
            display : inline-block;
            width: 85%;
        }
        @media @smallQuery {
            display : inline-block;
            font-size: 28px;
            line-height: 45px;
            width: 72%;
        }
    }
}
