.skills-panel {
    background: @greyBG;
    color: @textColorSecond;
    position: relative;
    padding: 85px 0px;
    overflow: hidden;
    /* height : 3000px; */
    .title-area {
        text-align: center;
        h2 {
            color : @accentColorSecond;
        }
        p {

        }
    }

    .body-area {
        width: 970px;
        margin: 0px auto;
        padding: 45px 15px;
        text-align : center;
        @media @smallQuery , @mediumQuery {
            width: 100%;
        }
    }
}

