/* media queries */
@largeQuery: ~"screen and (min-width:1100px)";
@mediumQuery: ~"screen and (min-width:768px) and (max-width:1099px)";
@smallQuery: ~"screen and (max-width:767px)";
/*
@portrait : ~" and (orientation: portrait)";
@landscape : ~" and (orientation: landscape)";

@mediumQueryPortrait : @mediumQuery, @portrait;
@smallQueryPortrait : @smallQuery, @portrait;
*/
// fonts
@fontMain : 'Open Sans', sans-serif;

/* colors */
@yellow : #EFC369;
@purple : #A494C0;
@orange : #D7925F;
@green : #B5BC67;
@black : #000000;
@offBlack : #1D1F20;
@lightBlue : #87CEFA;
@lightGrey : #E7E7E8;
@darkGrey : #6A6A6A;
@offWhite : #F1F1F1;
@white : #FFFFFF;

@btnBackground : #2E3435;
@btnBackgroundActive : #757575;

// nav bar
@bgColor1 : #262B37;
@bgColor1active : #1B1F2A;
@fgColor1 : #C3C8D6;

// about panel
@bgColor2 : #009FB1;/*#00BDBD;*/
@fgColor2 : @white;

// skills panel (and workExperience panel)
@bgColor4 : #EEEEEE;
@fgColor4 : #D8453A;/*#FF665B;*/
@fgColor4second : #474D5E;

// contact panel
@bgColor3 : #474D5E;
@fgColor3 : #93959C;

// portfolio panel
@bgColor5 : #1DB2DF;
@fgColor5 : @white;

/* numbers */
@paddingTopPanel : 60px;
@paddingBottomPanel : 60px;
@paddingBottomTitleArea : 50px;
@widthLiveArea : 1150px;
@widthLiveAreaMobile : 100%;
@heightBar : 62px;
@paddingTopPanelSmall : 30px;
@paddingBottomTitleAreaSmall : 30px;

/* fonts */
@fontSans : "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontSerif : "Helvetica Neue", Helvetica, Arial, sans-serif;
