<nav class="nav-bar" ng-show="navInfo">
    <!-- <span ng-bind="echo"></span> -->
    <button ng-click="toggleNavMenu( $event )">
        <label ng-bind="navInfo.label"></label>
        <i class="fa fa-bars"></i>
    </button>
    <ul class="nav-menu">
        <li class="nav-item"
            ng-show="shouldMenuDisplay"
            ng-repeat="navItem in navInfo.navItems"
            ng-class="{ 'active' : currentSelector === navItem.selector }"
            ng-bind="navItem.label"
            ng-click="navItemClicked( $event, navItem.selector, navItem.bookmark )"></li>
    </ul>
</nav>
