/* time */
@transDuration : 0.6s;
@transDurationFast : 0.4s;
@btnDim : 60px;

.Translate( @x, @y, @z ) {
    transform: translate3d( @x, @y, @z );
    -webkit-transform: translate3d( @x, @y, @z );
}

.TransAll( @dur ) {
    -webkit-transition: all @dur;
    -moz-transition: all @dur;
    -o-transition: all @dur;
    transition: all @dur;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.TransAllCubic( @dur ) {
    -webkit-transition: all @dur cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: all @dur cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all @dur cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all @dur cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.NoTrans() {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
}

.lightbox {
    position: fixed;
    z-index : 3000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    button {
        position : absolute;
        z-index : 10;
        top : 48vh;
        width : @btnDim;
        height : @btnDim;
        border-radius : 50%;
        background : rgba( 0, 0, 0, 0.8 );
        border : solid 2px rgba( 255, 255, 255, 0.5 );
        color : rgba( 255, 255, 255, 0.5 );
        &:focus {
            outline: none;
        }
        &:hover {
            border : solid 2px white;
            color : white;
        }
        &:after {
            position : absolute;
            top : 0px;
            left : 0px;
            width : @btnDim;
            height : @btnDim;
            border-radius : 50%;
            line-height : 54px;
            font-weight : 600;
            font-size : 32px;
            text-align : center;
        }
        &.left-arrow {
            left : 5px;
            &:after{
                margin-left : -3px;
                content : '<';
            }
        }
        &.right-arrow {
            right : 5px;
            &:after{
                content : '>';
            }
        }
    }
    .frame {
        position : absolute;
        background : transparent;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin : auto;
        width : 100vw;
        height : 100vh;
        z-index : 0;
        .Translate( 0, 0, 0 );
        .TransAllCubic( @transDuration );
        &.trans-none {
            .NoTrans();
        }
        &.off-screen-right {
            .Translate( 100vw, 0, 0 );
        }
        &.off-screen-left {
            .Translate( -100vw, 0, 0 );
        }
        img {
            position : absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin : auto;
            max-width : 100%;
            max-height : 100%;
        }
    }
    .info-panel {
        position : absolute;
        background : rgba( 0, 0, 0, 0.75 );
        padding : 10px 20px;
        color : white;
        font-size : 16px;
        font-weight : 400;
        line-height : 22px;
        width : 100%;
        z-index : 10;
        height : auto;
        bottom : -300px;
        .TransAllCubic( @transDurationFast );
        &.displayed {
            bottom : 0px;
        }
        &:focus{
            outline : none;
        }
    }
}
