<ul class="timeline" ng-show="timelineInfo">
    <li ng-repeat="event in timelineInfo.events" class="timeline-event" ng-class-even="'timeline-inverted'">
        <div class="timeline-badge {{event.badgeClass}} hidden"
             when-visible="animateElementIn"
             when-not-visible="animateElementOut">
            <i class="glyphicon glyphicon-{{event.iconName}}"></i>
        </div>
        <div class="timeline-panel {{event.badgeClass}} hidden"
             when-visible="animateElementIn"
             when-not-visible="animateElementOut">
            <div class="timeline-heading">
                <h4>{{event.title}}</h4>
                <p class="timeline-when" ng-if="event.when">
                    <i class="glyphicon glyphicon-time"></i>{{event.when}}
                </p>
                <div ng-if="event.headerHTML"
                     ng-bind-html="event.headerHTML | makeSafeHTML"></div>
            </div>
            <div class="timeline-body"
                 ng-if="event.bodyHTML"
                 ng-bind-html="event.bodyHTML | makeSafeHTML">
            </div>
            <div class="timeline-footer"
                 ng-bind-html="event.footerHTML | makeSafeHTML">
            </div>
        </div>
    </li>
</ul>
